@import url(reset.css);
* {
  box-sizing: border-box; }

body {
  display: grid;
  width: 100%;
  margin: 0 auto;
  font-family: "Lucida Grande", Arial, SansSerif;
  color: #545454; }

span {
  color: #9d459a; }

@media only screen and (min-width: 900px) {
  [class*='container'] {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto; }
    [class*='container'] .row [class*="col-"] {
      float: left;
      min-height: 1px;
      border: 1px solid red; }
    [class*='container'] .row:before, [class*='container'] .row:after {
      clear: both;
      content: "";
      display: table; }
    [class*='container'] .row .col-1 {
      width: 8.33333%; }
    [class*='container'] .row .col-2 {
      width: 16.66667%; }
    [class*='container'] .row .col-3 {
      width: 25%; }
    [class*='container'] .row .col-4 {
      width: 33.33333%; }
    [class*='container'] .row .col-5 {
      width: 41.66667%; }
    [class*='container'] .row .col-6 {
      width: 50%; }
    [class*='container'] .row .col-7 {
      width: 58.33333%; }
    [class*='container'] .row .col-8 {
      width: 66.66667%; }
    [class*='container'] .row .col-9 {
      width: 75%; }
    [class*='container'] .row .col-10 {
      width: 83.33333%; }
    [class*='container'] .row .col-11 {
      width: 91.66667%; }
    [class*='container'] .row .col-12 {
      width: 100%; } }
@media only screen and (max-width: 899px) {
  [class*='containerRWD'] {
    width: 100%;
    max-width: 899px;
    margin: 0 auto; }
    [class*='containerRWD'] .row [class*="colRWD-"] {
      float: left;
      min-height: 1px;
      border: 1px solid red; }
    [class*='containerRWD'] .row:before, [class*='containerRWD'] .row:after {
      clear: both;
      content: "";
      display: table; }
    [class*='containerRWD'] .row .colRWD-1 {
      width: 16.66667%; }
    [class*='containerRWD'] .row .colRWD-2 {
      width: 33.33333%; }
    [class*='containerRWD'] .row .colRWD-3 {
      width: 50%; }
    [class*='containerRWD'] .row .colRWD-4 {
      width: 66.66667%; }
    [class*='containerRWD'] .row .colRWD-5 {
      width: 83.33333%; }
    [class*='containerRWD'] .row .colRWD-6 {
      width: 100%; } }
#mainBackground {
  background-image: url("../img/base.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat; }

.mainHeader {
  width: 70%;
  margin: 0 auto; }

.mainTitle {
  text-align: center;
  color: white; }
  .mainTitle .main-1 {
    font-size: 3rem; }
    .mainTitle .main-1 p {
      margin: 1rem; }
  .mainTitle .main-2 {
    font-size: 2rem; }
    .mainTitle .main-2 p {
      margin-top: 0; }
  .mainTitle .main-3 {
    font-size: 1rem;
    margin-bottom: 3rem; }

[class*='icon-'] {
  background-image: url("../img/hexagon.png");
  padding-bottom: 13%;
  background-repeat: no-repeat;
  background-size: 70% auto;
  background-position: center; }

.icon-up, .icon-bottom {
  list-style: none;
  border: 1px solid red;
  width: 100%; }
  .icon-up ul, .icon-bottom ul {
    position: relative; }
  .icon-up img, .icon-bottom img {
    position: absolute;
    width: 3%;
    margin-top: 2.7%;
    margin-left: 5.2%; }

.icon-bottom {
  margin-top: 15%; }
  @media (max-width: 1000px) {
    .icon-bottom {
      margin-top: 0; } }

.icon-bottom:hover, .icon-up:hover {
  background-image: url("../img/hexagon-hover.png"); }

.arrow-down {
  background-image: url("../img/arrow.png");
  padding-bottom: 5rem;
  background-repeat: no-repeat;
  background-size: 6% auto;
  background-position: center;
  margin-top: auto; }

@media only screen and (max-width: 899px) {
  .hideRWD {
    display: none; } }

.container-2 {
  border: 2px solid red;
  position: relative; }
  .container-2 img {
    margin-top: 1%;
    margin-bottom: 1%; }

.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
  background-color: white; }
  .sticky img {
    margin-top: 1%;
    margin-bottom: 1%; }

.sticky-container {
  height: 45px; }

nav .col-3 {
  padding-left: 5%;
  padding-top: 0.5%;
  display: inline-block; }
  @media only screen and (max-width: 899px) {
    nav .col-3 {
      position: absolute; } }
nav .col-9 ul {
  list-style-type: none;
  float: right;
  margin-top: 0;
  vertical-align: middle;
  padding-top: 10px; }
  nav .col-9 ul li {
    position: relative;
    width: 10px;
    padding-right: 1em; }
    nav .col-9 ul li a {
      text-decoration: none;
      color: #545454; }
      nav .col-9 ul li a:link {
        text-decoration: none; }
      nav .col-9 ul li a:visited {
        text-decoration: none; }
      nav .col-9 ul li a:hover {
        text-decoration: none; }
    @media only screen and (max-width: 899px) {
      nav .col-9 ul li img {
        cursor: pointer; }
        nav .col-9 ul li img img {
          display: block !important;
          width: 1.5em;
          float: right;
          margin-bottom: 1em; } }
    @media only screen and (min-width: 900px) {
      nav .col-9 ul li img {
        display: none; } }

@media only screen and (max-width: 899px) {
  .classicMenu {
    float: none;
    display: none;
    text-align: right; } }

@media only screen and (max-width: 899px) {
  #hamburger {
    cursor: pointer;
    display: inline-block;
    padding-bottom: 8%; }
    #hamburger img {
      width: 1.5em; } }
@media only screen and (min-width: 900px) {
  #hamburger {
    display: none; } }

.hamburgerMenuHide li {
  display: inline; }

.hamburgerMenuShow {
  border: 1px green solid;
  display: list-item; }
  .hamburgerMenuShow li {
    text-align: left;
    float: left; }

@media only screen and (max-width: 899px) {
  .hamburgerMenu {
    width: 2em; } }

.background-color {
  background-size: 100% auto;
  background-color: #eaeaea;
  padding-bottom: 1%; }

.container-3 {
  border: 1px solid red; }

img {
  width: 8em;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.item {
  margin-top: 5%;
  border: 1px red solid;
  font-size: 85%;
  color: #545454;
  text-align: center; }

p {
  margin-left: 10%;
  margin-right: 10%; }

.corner {
  position: relative; }
  .corner:before {
    position: absolute;
    content: "";
    border-left: 2px #9d459a solid;
    border-bottom: 2px #9d459a solid;
    margin-left: -40px;
    margin-top: 10px;
    height: 20px;
    width: 20px; }
  .corner:after {
    position: absolute;
    content: "";
    border-right: 2px #9d459a solid;
    border-top: 2px #9d459a solid;
    margin-left: 20px;
    margin-top: -10px;
    height: 20px;
    width: 20px; }

.container-4 {
  border: 1px red solid; }
  .container-4 #img {
    background: url("../img/mockup.png") no-repeat;
    background-size: 90% auto;
    padding-top: 30%;
    background-position: center; }
  .container-4 .col-12 {
    margin-top: 3%;
    text-align: center; }
  .container-4 .col-6 {
    height: 400px;
    overflow: hidden; }
    .container-4 .col-6 p, .container-4 .col-6 button {
      margin-left: 20%;
      margin-right: 10%;
      font-size: 85%; }
    .container-4 .col-6 p {
      padding-top: 10%;
      line-height: 200%; }
    .container-4 .col-6 button {
      border-color: #9d459a;
      color: white;
      background-color: #9d459a;
      border-right: hidden;
      border-radius: 5%;
      height: 60px;
      width: 150px;
      font-size: 120%; }

.background2 {
  background: url("../img/background2.jpg") no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  padding-bottom: 4%;
  border: red 1px solid;
  width: 100%; }

.container-5 .iconBackground2, .container-8 .iconBackground2 {
  background-position: center;
  background-image: url("../img/hexagon.png");
  background-repeat: no-repeat;
  background-size: 9%; }
.container-5 .col-12, .container-8 .col-12 {
  color: white;
  font-size: 2rem;
  text-align: center; }

#study {
  padding-top: 10%;
  width: 5%;
  padding-bottom: 8%; }

#bubble {
  padding-top: 10%;
  width: 5%;
  padding-bottom: 9%; }

.container-6 .col-12 {
  padding-top: 5%;
  text-align: center; }
.container-6 #arrow-left, .container-6 #arrow-right {
  padding-top: 10%;
  padding-bottom: 10%;
  cursor: pointer;
  width: 6%;
  float: right;
  margin-right: 5px; }
.container-6 #arrow-right {
  float: left;
  margin-left: 5px; }

.container-6 [id*='team-'] {
  width: 50%;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.2; }
.container-6 h2, .container-6 p {
  text-align: center;
  color: #cdcdcd; }
.container-6 .fb {
  width: 15%;
  float: right;
  margin-right: 5px; }
.container-6 .google {
  width: 15%;
  float: left;
  margin-left: 5px; }
.container-6 ul {
  display: inline; }
  .container-6 ul li {
    list-style-type: none; }
  .container-6 ul .fb1 {
    width: 1em;
    float: right; }
  .container-6 ul .google1 {
    width: 1em;
    float: left; }
@media only screen and (max-width: 899px) {
  .container-6 {
    max-width: 50% !important;
    margin: auto; } }

.sm {
  border: red; }

@media only screen and (max-width: 899px) {
  .profilesHideRWD {
    display: none; } }

.selectedProfile h2, .selectedProfile p {
  color: #222222 !important; }
.selectedProfile img {
  opacity: 1 !important; }
@media only screen and (max-width: 899px) {
  .selectedProfile {
    display: inline-block !important; } }

.container-7 .col-12 {
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center; }
.container-7 .chart-3, .container-7 .chart-4 {
  margin-bottom: 5%; }
.container-7 [class*='chart-'] dl {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 700px;
  padding: 20px;
  margin: auto 30px; }
.container-7 [class*='chart-'] .chartContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: stretch;
  margin-left: 40px;
  margin-bottom: 5px; }
.container-7 [class*='chart-'] .chartData {
  order: 0;
  flex: 0 1 auto;
  align-self: auto; }
.container-7 [class*='chart-'] .chartSpec {
  order: 0;
  flex: 0 1 auto;
  align-self: auto; }
.container-7 [class*='chart-'] .percentage {
  width: 92%;
  height: 20px;
  background: #f0f0f0;
  position: relative; }
  .container-7 [class*='chart-'] .percentage:after {
    content: "";
    display: block;
    background-color: #9d459a;
    height: 100%;
    transition: background-color 0.5s ease;
    cursor: pointer; }
  .container-7 [class*='chart-'] .percentage:hover:after, .container-7 [class*='chart-'] .percentage:focus:after {
    background-color: #aaa; }
.container-7 [class*='chart-'] .percentage-1:after {
  width: 1%; }
.container-7 [class*='chart-'] .percentage-2:after {
  width: 2%; }
.container-7 [class*='chart-'] .percentage-3:after {
  width: 3%; }
.container-7 [class*='chart-'] .percentage-4:after {
  width: 4%; }
.container-7 [class*='chart-'] .percentage-5:after {
  width: 5%; }
.container-7 [class*='chart-'] .percentage-6:after {
  width: 6%; }
.container-7 [class*='chart-'] .percentage-7:after {
  width: 7%; }
.container-7 [class*='chart-'] .percentage-8:after {
  width: 8%; }
.container-7 [class*='chart-'] .percentage-9:after {
  width: 9%; }
.container-7 [class*='chart-'] .percentage-10:after {
  width: 10%; }
.container-7 [class*='chart-'] .percentage-11:after {
  width: 11%; }
.container-7 [class*='chart-'] .percentage-12:after {
  width: 12%; }
.container-7 [class*='chart-'] .percentage-13:after {
  width: 13%; }
.container-7 [class*='chart-'] .percentage-14:after {
  width: 14%; }
.container-7 [class*='chart-'] .percentage-15:after {
  width: 15%; }
.container-7 [class*='chart-'] .percentage-16:after {
  width: 16%; }
.container-7 [class*='chart-'] .percentage-17:after {
  width: 17%; }
.container-7 [class*='chart-'] .percentage-18:after {
  width: 18%; }
.container-7 [class*='chart-'] .percentage-19:after {
  width: 19%; }
.container-7 [class*='chart-'] .percentage-20:after {
  width: 20%; }
.container-7 [class*='chart-'] .percentage-21:after {
  width: 21%; }
.container-7 [class*='chart-'] .percentage-22:after {
  width: 22%; }
.container-7 [class*='chart-'] .percentage-23:after {
  width: 23%; }
.container-7 [class*='chart-'] .percentage-24:after {
  width: 24%; }
.container-7 [class*='chart-'] .percentage-25:after {
  width: 25%; }
.container-7 [class*='chart-'] .percentage-26:after {
  width: 26%; }
.container-7 [class*='chart-'] .percentage-27:after {
  width: 27%; }
.container-7 [class*='chart-'] .percentage-28:after {
  width: 28%; }
.container-7 [class*='chart-'] .percentage-29:after {
  width: 29%; }
.container-7 [class*='chart-'] .percentage-30:after {
  width: 30%; }
.container-7 [class*='chart-'] .percentage-31:after {
  width: 31%; }
.container-7 [class*='chart-'] .percentage-32:after {
  width: 32%; }
.container-7 [class*='chart-'] .percentage-33:after {
  width: 33%; }
.container-7 [class*='chart-'] .percentage-34:after {
  width: 34%; }
.container-7 [class*='chart-'] .percentage-35:after {
  width: 35%; }
.container-7 [class*='chart-'] .percentage-36:after {
  width: 36%; }
.container-7 [class*='chart-'] .percentage-37:after {
  width: 37%; }
.container-7 [class*='chart-'] .percentage-38:after {
  width: 38%; }
.container-7 [class*='chart-'] .percentage-39:after {
  width: 39%; }
.container-7 [class*='chart-'] .percentage-40:after {
  width: 40%; }
.container-7 [class*='chart-'] .percentage-41:after {
  width: 41%; }
.container-7 [class*='chart-'] .percentage-42:after {
  width: 42%; }
.container-7 [class*='chart-'] .percentage-43:after {
  width: 43%; }
.container-7 [class*='chart-'] .percentage-44:after {
  width: 44%; }
.container-7 [class*='chart-'] .percentage-45:after {
  width: 45%; }
.container-7 [class*='chart-'] .percentage-46:after {
  width: 46%; }
.container-7 [class*='chart-'] .percentage-47:after {
  width: 47%; }
.container-7 [class*='chart-'] .percentage-48:after {
  width: 48%; }
.container-7 [class*='chart-'] .percentage-49:after {
  width: 49%; }
.container-7 [class*='chart-'] .percentage-50:after {
  width: 50%; }
.container-7 [class*='chart-'] .percentage-51:after {
  width: 51%; }
.container-7 [class*='chart-'] .percentage-52:after {
  width: 52%; }
.container-7 [class*='chart-'] .percentage-53:after {
  width: 53%; }
.container-7 [class*='chart-'] .percentage-54:after {
  width: 54%; }
.container-7 [class*='chart-'] .percentage-55:after {
  width: 55%; }
.container-7 [class*='chart-'] .percentage-56:after {
  width: 56%; }
.container-7 [class*='chart-'] .percentage-57:after {
  width: 57%; }
.container-7 [class*='chart-'] .percentage-58:after {
  width: 58%; }
.container-7 [class*='chart-'] .percentage-59:after {
  width: 59%; }
.container-7 [class*='chart-'] .percentage-60:after {
  width: 60%; }
.container-7 [class*='chart-'] .percentage-61:after {
  width: 61%; }
.container-7 [class*='chart-'] .percentage-62:after {
  width: 62%; }
.container-7 [class*='chart-'] .percentage-63:after {
  width: 63%; }
.container-7 [class*='chart-'] .percentage-64:after {
  width: 64%; }
.container-7 [class*='chart-'] .percentage-65:after {
  width: 65%; }
.container-7 [class*='chart-'] .percentage-66:after {
  width: 66%; }
.container-7 [class*='chart-'] .percentage-67:after {
  width: 67%; }
.container-7 [class*='chart-'] .percentage-68:after {
  width: 68%; }
.container-7 [class*='chart-'] .percentage-69:after {
  width: 69%; }
.container-7 [class*='chart-'] .percentage-70:after {
  width: 70%; }
.container-7 [class*='chart-'] .percentage-71:after {
  width: 71%; }
.container-7 [class*='chart-'] .percentage-72:after {
  width: 72%; }
.container-7 [class*='chart-'] .percentage-73:after {
  width: 73%; }
.container-7 [class*='chart-'] .percentage-74:after {
  width: 74%; }
.container-7 [class*='chart-'] .percentage-75:after {
  width: 75%; }
.container-7 [class*='chart-'] .percentage-76:after {
  width: 76%; }
.container-7 [class*='chart-'] .percentage-77:after {
  width: 77%; }
.container-7 [class*='chart-'] .percentage-78:after {
  width: 78%; }
.container-7 [class*='chart-'] .percentage-79:after {
  width: 79%; }
.container-7 [class*='chart-'] .percentage-80:after {
  width: 80%; }
.container-7 [class*='chart-'] .percentage-81:after {
  width: 81%; }
.container-7 [class*='chart-'] .percentage-82:after {
  width: 82%; }
.container-7 [class*='chart-'] .percentage-83:after {
  width: 83%; }
.container-7 [class*='chart-'] .percentage-84:after {
  width: 84%; }
.container-7 [class*='chart-'] .percentage-85:after {
  width: 85%; }
.container-7 [class*='chart-'] .percentage-86:after {
  width: 86%; }
.container-7 [class*='chart-'] .percentage-87:after {
  width: 87%; }
.container-7 [class*='chart-'] .percentage-88:after {
  width: 88%; }
.container-7 [class*='chart-'] .percentage-89:after {
  width: 89%; }
.container-7 [class*='chart-'] .percentage-90:after {
  width: 90%; }
.container-7 [class*='chart-'] .percentage-91:after {
  width: 91%; }
.container-7 [class*='chart-'] .percentage-92:after {
  width: 92%; }
.container-7 [class*='chart-'] .percentage-93:after {
  width: 93%; }
.container-7 [class*='chart-'] .percentage-94:after {
  width: 94%; }
.container-7 [class*='chart-'] .percentage-95:after {
  width: 95%; }
.container-7 [class*='chart-'] .percentage-96:after {
  width: 96%; }
.container-7 [class*='chart-'] .percentage-97:after {
  width: 97%; }
.container-7 [class*='chart-'] .percentage-98:after {
  width: 98%; }
.container-7 [class*='chart-'] .percentage-99:after {
  width: 99%; }
.container-7 [class*='chart-'] .percentage-100:after {
  width: 100%; }

.main-width {
  width: 80%;
  margin: 0 auto;
  border: 2px dashed red; }

.container-8 .loremData {
  margin-top: 5%;
  margin-bottom: 10%;
  text-align: center; }
  .container-8 .loremData h1 {
    font-size: 3em;
    margin: 0; }
  .container-8 .loremData p {
    color: #7f7f7f; }
.container-8 [class*='influencer-'] {
  width: 17%;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto; }
.container-8 p {
  font-size: .7em;
  color: #545454; }
.container-8 h6 {
  text-transform: uppercase;
  color: #7f7f7f; }

#slider ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.invisible {
  display: none; }

.pagination {
  clear: both;
  width: 75px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center; }

.pagination li {
  list-style: none;
  float: left;
  margin: 0 2px;
  display: block;
  width: 10px;
  height: 10px;
  border: 1px #7f7f7f solid;
  border-radius: 10px; }

.pagination li.active {
  background: #7f7f7f; }

.wrapper {
  width: 100%;
  overflow: hidden; }
  .wrapper #slider {
    position: relative; }
    .wrapper #slider .slide {
      float: left;
      text-align: center;
      width: 800px; }

.container-9 .col-12 {
  margin-top: 3%;
  text-align: center;
  margin-bottom: 2em; }
.container-9 ul {
  list-style-type: none;
  margin-bottom: 1em;
  padding: 0; }
  .container-9 ul li {
    position: relative;
    display: inline; }

.myButton {
  background-color: white;
  color: #9d459a;
  border-radius: 3px;
  border: 1px solid;
  display: inline-block;
  cursor: pointer;
  font-size: .7rem;
  padding: 5px 20px;
  text-decoration: none;
  text-transform: uppercase; }

.myButton:hover {
  background-color: #9d459a;
  color: white; }

.myButton:active {
  position: relative;
  top: 1px; }

.gallery-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  @media only screen and (max-width: 899px) {
    .gallery-container {
      display: block; } }

.col-4 {
  border: red;
  margin-right: 1%;
  margin-left: 2%;
  margin-bottom: 2%;
  max-width: 30% !important; }
  @media only screen and (max-width: 899px) {
    .col-4 {
      max-width: 100% !important;
      display: block; } }
  .col-4 img {
    width: 100%; }
  .col-4 h4, .col-4 p {
    text-align: center;
    margin: 1%; }
  .col-4 p {
    font-size: 0.7em;
    color: #7f7f7f; }

#watchAllButton {
  text-transform: none;
  padding: 13px 25px; }

.hidden {
  display: none; }

.flexGallery {
  align-self: flex-start; }
  .flexGallery img {
    max-width: 30%;
    margin-right: 1%;
    margin-left: 2%;
    margin-bottom: 2%; }

.container-10 .col-12 {
  margin-top: 5%;
  text-align: center;
  margin-bottom: 5%;
  max-width: 100%; }
.container-10 .col-6 {
  border: red 1px solid;
  padding: 1em; }
.container-10 #input-name, .container-10 #input-mail, .container-10 #input-message, .container-10 #button-mail {
  padding: 0.5em;
  margin: 0 2em;
  width: 90%; }
.container-10 #input-message {
  padding-bottom: 50%; }
.container-10 #button-mail {
  width: 30%; }

.contact-sm ul {
  list-style-type: none;
  overflow: hidden;
  float: left; }
.contact-sm li {
  display: inline;
  float: left; }
.contact-sm img {
  margin-top: 1em;
  width: 50%; }

footer {
  text-align: center; }
  footer img {
    width: 10%;
    margin-bottom: 5%; }

/*# sourceMappingURL=stylesheet.css.map */
